:root {
  --branding-color:#192a3d;
  --secondary-color:#efecde;
  --tertiary-color:#b5b6b7;
  --heading-font-family:'Dr Sugiyama', cursive;
  --default-font-family:'Poppins', sans-serif;
}
body {
  font-family: var(--default-font-family);
  color:var(--branding-color);
}
h1 {
  font-family:var(--heading-font-family);
  font-size: 96px;
  line-height: 1.5;
  opacity: 60%;
}
h2 {
  font-family:var(--heading-font-family);
  font-size: 36px;
  }
h3,h4,h5,h6 {
  hyphens: auto;
  font-family: var(--default-font-family);
}
p {
  hyphens: auto;
  font-weight: normal;
  font-size: 18px;
}
nav li{
  display: inline;
  list-style: none;
  padding: 1em 0 0 2em;
}
nav ul{
  padding: 0 10px 0 0;
  margin-bottom: 2.5em;
}
img{
  margin-top: 1em;
  border-radius: 5px;
  width: 300px;
  padding:5px;
  border:2px solid var(--tertiary-color);
  box-shadow:rgba(25, 42, 61, 0.1) 0px 4px 12px;
}
footer .contact-box {
  display:flex;
  background: var(--secondary-color);
  border-radius: 5px;
  }
footer .contact-box p {
  margin: 0;
  }
footer .social-links a {
  margin: 0 10px;
  padding: 10px 15px ;
  color: var(--branding-color);
  background-color:var(--secondary-color);
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color:var(--branding-color);
  background: var(--tertiary-color);
}
.language-link,
.email-link {
  color: var(--branding-color);
  opacity: 70%;
  text-decoration: none;
}
.language-link:hover,
.email-link:hover {
  color: var(--tertiary-color);
}
.EN-link{
  padding-left: 50px;
}
.hero {
  text-align: center;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}
.hero p {
  margin: 30px 0;
}
.portrait{
  padding: 10px;
  border-radius: 40% 20%;
  float: right;
}
.btn-branding {
  width: 155px;
  margin-top: 7px;
  background: var(--tertiary-color);
  border: 2px solid var(--branding-color);
  border-radius: 5px;
  color:var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding:10px 13px;
}
.btn-branding:hover {
  background: var(--secondary-color);
  color: var(--branding-color);
}
.btn-branding-outline {
  width: 155px;
  background: var(--secondary-color);
  color: var(--branding-color);
  border: 2px solid var(--branding-color);
  border-radius: 5px;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 15px;
}
.btn-branding-outline:hover {
  background: white;
  color: var(--branding-color);
  border: 2px solid var(--branding-color);
}
.description {
  padding: 2em 1em;
}
.logos{
  border: none;
  box-shadow: none;
  max-width: 50px;
}
.logoname{
  font-size: 12px;
}
.logoMR{
  width: 40px;
  margin: 10px;
  padding: 0;
  border:none;
  box-shadow: none;
}
.logoMRname{
  font-family: var(--heading-font-family);
  font-size: 24px;
}
.skills{
  margin:0 6em;
  padding:5px;
  border-radius: 5px;
  border:2px solid var(--tertiary-color);
  box-shadow:rgba(25, 42, 61, 0.1) 0px 4px 12px;
}
.certificate-right:hover,
.certificate-left:hover {
  cursor:pointer;
  transform: scale(2.5);
  transition: all 1s ease-in-out 1.5s;
  padding: 0;
}
.certificate-left:hover {
  transform-origin:left;
}
.certificate-right:hover {
  transform-origin:right;
}
.paintings{
  width: 100%;
}
#hamnav {
  width: 100%;
  background: var(--secondary-color);
}
#hamitems { 
  float: right;
  padding: 15px 0 0 0; 
}
#hamitems a {
  margin:30 0;
  flex-grow: 1;
  flex-basis: 0;
  color: var(--branding-color);
  text-decoration: none;
  text-align: center;
  transition: all .1s ease-in-out;
  
}
#hamitems a:hover,.active  { 
  font-weight: bold;
}
#hamitems a:hover { 
  opacity: 70%;
}
#hamnav label, #hamburger { display: none; }

@media (max-width: 900px) {
  h1{
    font-size: 56px;
    line-height: 1.5;
  }
  h2{
    font-size: 36px;
  }
  h4{
    text-align: center;
  }
  nav li{
    padding: 0;
    line-height: 3;
  }
  nav ul{
    padding: 0;
  }
  img {
    margin: 0 auto;
    display:block;
  }
  footer .contact-box{
  flex-direction: column;
  text-align: center;
  }
  footer .social-links{
  margin: 10px;
  }
  .footer-links{
    flex-direction: column;
    text-align: center;
  }
  .EN-link{
   padding: 0;
   flex-direction: row;
   display: block;
   text-align: center;
   line-height: 1.5;
  }
  .language-link{
  padding-left: 5px;
  padding-top: 0px;
  }
  .portrait{
    width: 220px;
  }
  .btn-branding-outline {
  margin: 15px 0;
  }
  .logoMRname{
    font-size: 18px;
    display: flex;
    justify-content: center;
    line-height: 3.5;
  }
  .skills{
    margin: 0 auto;
  }
   .certificate-right:hover,
   .certificate-left:hover {
    transform:none;
    transform-origin:unset;
  }
  #hamitems a {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    border-bottom: 1px solid var(--branding-color);
  }
  #hamnav label {
    display: block;
    text-align: center;
    color: var(--branding-color);
    background: var(--tertiary-color);
    font-style: normal;
    font-size: 1.5em;;
    border-radius: 5px;
  }
  #hamitems {display: none; 
    float: unset;}
  #hamnav input:checked ~ #hamitems { display: block; }
}
